/* Tailwind's base styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* Definir los esquemas de color y colores globales */
  color-scheme: light dark; /* Habilitar modo claro y oscuro */
  --primary-color: #ffffff; /* Color de texto principal */
  --background-color: #050e2ca2; /* Color de fondo */
  --background-radial: radial-gradient(
    125% 125% at 50% 10%,
    #000 40%,
    rgb(51, 95, 238) 100%
  );
}

/* Aplicar box-sizing: border-box a todos los elementos */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Estilos básicos para el body */
body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: var(--background-color); /* Usar la variable para el fondo */
  background: var(--background-radial); /* Usar la variable para el fondo radial */
  background-attachment: fixed; /* Hace que el fondo sea fijo al hacer scroll */
  background-size: cover; /* Asegura que el fondo cubra toda la pantalla */
  background-position: center center; /* Centra el fondo */
  min-height: 100vh;
  height: 100%; /* Para cubrir toda la altura */
  color: var(--primary-color); /* Usar la variable para el color del texto */
}

@media (max-width: 768px) {
  body {
    background-attachment: local;/* Aplica 'local' solo en pantallas pequeñas */
  }
}